.page-content {
  min-height: calc(100vh - 120px);
}

button {
  outline: none !important;
}


.news-card {
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.18);
  border-radius: 25px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  height: 100%;
  flex-direction: column;

  .news-thumb {
    width: 100%;
    height: 200px;
  }

  .news-content {
    padding: 1.1rem 1.5rem 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    .news-title {
      font-size: 18px;
      line-height: 18px;
      margin: 0;

      a {
        color: #000000;
        font-weight: 700;
        text-decoration: underline;
      }
    }

    .news-text {
      color: #767676;
      font-size: 1rem;
      line-height: 1.25rem;
      font-weight: 300;
      margin-top: 1.1rem;
      margin-bottom: 1.1rem;
    }

    .news-date {
      color: #767676;
      font-size: 1rem;
      font-weight: 300;
      font-style: italic;
    }
  }

}

